/*this is a CSS Reset
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*HTML 5 reset for older browsers
*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Body
  ========================================
*/

body {
    background: #fff;
    color: #000;
    font-family: "Helvetica Neue", Helvetica, Arial, san-serif;
}

/*
  ========================================
  Header
  ========================================
*/


.head h1 {
    float: left;
    padding: 20px;
    font-size: 40px;
    text-transform: uppercase;
}


/*
  ========================================
  navigation
  ========================================
*/

nav {
    float: right;
    padding: 30px;
    font-size: 20px;
    text-transform: uppercase;
    word-spacing: 50px;
}

ul li {
    display: inline-block;
}

/*
  ========================================
  Image
  ========================================
*/

.head img {
    width: 100%;
}

.col-one img{
    float: left;
    width: 50%;
}

/*
  ========================================
  What We Do
  ========================================
*/

.grid {
    margin: 0 auto;
    padding-top: 20px;
}

.grid,
.col-1-3{
  padding-left: 15px;
  padding-right: 15px;
}

.col-1-3 {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 33.33%;
}





/*
  ========================================
  Link
  ========================================
*/

.head a {
    color: #000;
    text-decoration: none;
}

.head a:hover {
    border: 2px solid #a91d1d;
}



/*
  ========================================
  Typography
  ========================================
*/

.about-us h1,
.contact-us h1{
    font-size: 50px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.about-us h4,
.contact-us h4 {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 10px;
}

.contact-us h1{
    text-align: center;
}

.contact-us h4 {
    text-align: center;
}

hr {
    width: 80%;
}


/*
  ========================================
  About
  ========================================
*/

.about-us {
    padding: 50px;
}

/*
  ========================================
  Contact
  ========================================
*/

.contact-us {
    background: #ddd;
    padding: 50px;
}

.col-two {
    float: right;
    width: 50%;

}

.contact-form {
    padding-top: 50px;
    padding-left: 100px;
}



/*
  ========================================
  Form
  ========================================
*/

form {
    margin-bottom: 22px;
}

input,
textarea {
    font-family: "Helvetica Neue", Helvetica, Arial, san-serif;
}

.contact-group label {
    color: #000;
    cursor: pointer;
    font-weight: 400;
}

.contact-group input,
.contact-group textarea {
    border: 1px solid #c6c9cc;
    border-radius: 5px;
    color: #888;
    display: block;
    margin: 5px 0 27px 0;
    padding: 5px 8px;
}

.contact-group input,
.contact-group textarea {
    width: 50%;
}


contact-group textarea {
    height: 78px;
}

.btn {
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  letter-spacing: .5px;
  margin: 0;
  text-transform: uppercase;
}

.btn-alt:hover {
  background: #fff;
  color: #648880;
}

.btn-default {
    border: 0;
    background: #648880;
    padding: 11px 30px;
    font-size: 14px
}

.btn-default:hover {
    background: #77a198;
}

/*
  ========================================
  Footer
  ========================================
*/

.wha-footer p{
    padding: 50px;
    text-align: center
}
